In [22]:
import pandas as pd
import numpy as np
import imblearn
from collections import Counter
imblearn.__version__

'0.10.1'

In [5]:
df = pd.read_csv("merged-normalized.csv")
df.head()

,Time,Race,Gender,Body_Size,With_Kids,Kids_Category,Basket_Size,Basket_colour,Attire,Shirt_Colour,...,TotalSpent_RM,latitude,longitude,Num_of_Baskets,Date,tempmax,tempmin,humidity,description,icon
0,20:17:50,malay,male,moderate,yes,young,big,red,casual,blue,...,-1.175289,-1.974354,0.219731,-1.24844,2015-10-19,-0.804993,0.954235,0.51219,Cloudy skies throughout the day.,cloudy
1,20:28:42,malay,male,thin,no,no_kids,big,white,casual,white,...,1.620044,-1.844641,0.072282,1.25697,2015-10-19,-0.804993,0.954235,0.51219,Cloudy skies throughout the day.,cloudy
2,20:58:31,malay,female,moderate,no,no_kids,big,blue,casual,red,...,-0.243511,-1.678802,1.008022,-1.24844,2015-10-19,-0.804993,0.954235,0.51219,Cloudy skies throughout the day.,cloudy
3,21:31:28,indian,male,thin,no,no_kids,big,black,casual,black,...,0.455322,-1.495611,0.011978,-1.24844,2015-10-19,-0.804993,0.954235,0.51219,Cloudy skies throughout the day.,cloudy
4,21:40:28,indian,male,moderate,no,no_kids,big,blue,casual,blue,...,-0.243511,-2.086209,0.252582,1.25697,2015-10-19,-0.804993,0.954235,0.51219,Cloudy skies throughout the day.,cloudy

In [23]:
Counter(df.Race)

Counter({'malay': 1222, 'indian': 981, 'chinese': 966, 'foreigner': 831})

In [36]:
for col in df:
    if df[col].dtype == "object" and df[col].dtype != "Date":
        Counter(df[col])

dtype('O')